        <div class="c">
        <div class="c_frame <_comment|model> cblur" id="comment<_comment|id>" onclick="clickComment(<_comment|id>);">
            <div class="c_usr_img"><img class="c_usr_img_src" src="<_comment|avatar|small>" alt="<_comment|username>" title="<_comment|username>"/></div>
            <div class="c_post">
                <span class="c_username" id="cu_<_comment|id>"><a href="/user/<_comment|user id>/" title="<_comment|username>"><_comment|username></a></span>
                <span class="c_date"><_comment|created></span>
                <div class="c_hide"><a href="javascript:hideBranch(<_comment|id>);" title="Hide comment / branch">X</a></div>
                <div class="c_content" id="cc_<_comment|id>"><_comment|content><span class="c_date"><_comment|updated></span></div>
                <div class="c_interactive">
<div class="ci_reply"><a id="cir_<_comment|id>" href="javascript:replyTo('<_comment|id>')" title="<_comment|reply>"><_comment|reply></a></div><div class="ci_permalink"><a href="//<_comment|permalink>" title="Link direct to this comment">permalink</a></div><div class="ci_plusone" id="ci_k<_comment|id>"><_comment|karma><span class="ci_hide_<_comment|me> guest_dis"> (<a href="javascript:giveKarma('<_comment|id>')" title="Give karma">+1</a>)</span></div>
                </div>
            </div>
        </div>
        </div>