                            </div>
                        </main>
                        <div class="clear"></div>

                        <footer role="contentinfo">
                            <div id="footer">
                                <p class="footer">
                                    <_layout|switch platform|mobile>
                                </p>
                                <hr />
                                <p class="footer">
                                    <a href="<_url|home>" title="<_site|name>"><_site|name></a> - <_site|description> - <_site|copyright>
                                </p>
                            </div>
                        </footer>
                <script type="text/javascript" src="<_cdn|layout>layout/interactive.js?v=<_resver>"></script>
		</body>
    <_postprocinc>
</html>