                            </div>
                        </main>
                        <div class="clear"></div>

                        <p></p><hr/><p></p>
						
						 <footer role="contentinfo">
								
							 <footer role="contentinfo">
                            <p class="footer">

                                <_layout|switch platform|desktop><br/>
                                <a href="<_url|home>" title="<_site|name>"><_site|name></a> - <_site|description> - <_site|copyright><br />
                            </p>

                        </footer>
                    </div>
                    <div id="border_bottom"></div>
                </div>
                <script type="text/javascript" src="<_cdn|layout>layout/interactive.js?v=<_resver>"></script>
                <script type="text/javascript" src="<_cdn|layout>layout/code/prettify.js?v=<_resver>"></script>
		</body>
    <_postprocinc>
</html>