<!DOCTYPE html>
<html>
        <head>
            <title><_page|title> @ <_site|name></title>
            <meta name="title" content="<_page|title>" />
            <meta name="description" content="<_page|title>" />

            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta http-equiv="cache-control" content="no-cache" />

            <meta name="keywords" content="<_site|name> <_site|description>" />
            <meta name="language" content="en" />
            <meta name="subject" content="<_site|name> <_site|description>" />
            <meta name="copyright" content="<_site|copyright>" />
            <meta name="abstract" content="<_site|name> <_site|description>" />
            <meta name="viewport" content="width=device-width, user-scalable=yes" />
                
            <meta name="twitter:card" content="summary" />
            <meta name="twitter:url" content="<_url|this>" />
            <meta name="twitter:title" content="<_page|title>" />
            <meta name="twitter:description" content="<_page|description|150>" />
            <meta name="twitter:site" content="<_site|twitter>" />
            <meta name="twitter:creator" content="<_page|twitter>" />
            <meta name="twitter:image" content="<_page|image|2>" />

            <meta property="fb:app_id" content="<_page|fb app id>" />
            <meta property="og:title" content="<_page|title>" />
            <meta property="og:type" content="website" />
            <meta property="og:url" content="<_url|this>" />
            <meta property="og:description" content="<_page|description|150>" />
            <_page|og images>

            <link rel="stylesheet" type="text/css" href="<_cdn|layout>layout/desktop.css?v=<_resver>" />
            <!-- <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" /> -->
            <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Averia+Sans+Libre" />
            <link rel="stylesheet" type="text/css" href="<_cdn|layout>layout/code/prettify.css?v=<_resver>" />
            <link rel="Shortcut Icon" href="<_cdn|images>layout/favicon.ico?v=<_resver>" />
        </head>
        <body onload="prettyPrint()">
			<div id="alt_bg"></div>
            <div id="border">
                <div id="border_top"></div>
                <div id="page">
					
                    <header role="banner">

                            <div id="banner">
                                <div id="logo">
                                <img src="<_cdn|images>layout/logo.png" alt="<_site|name>" /></div>
                            </div>

                            <div id="menubar"><_layout|menubar></div>
                    </header>

                    <main id="content" class="group" role="main">
                        <div class="mainbody">