        <!DOCTYPE html>
        <html>
            <head>
                <title><_page|title> @ <_site|name></title>
                <meta name="title" content="<_page|title>" />
                <meta name="description" content="<_page|title>" />

                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                <meta name="keywords" content="<_site|name> <_site|description>" />
                <meta name="language" content="en" />
                <meta name="subject" content="<_site|name> <_site|description>" />
                <meta name="copyright" content="<_site|copyright>" />
                <meta name="abstract" content="<_site|name> <_site|description>" />

                <meta name="viewport" content="width=device-width, user-scalable=no" />

                <link rel="stylesheet" type="text/css" href="<_cdn|layout>layout/mobile.css?v=<_resver>" />
            </head>
            <body>
                <header role="banner">
                    <div id="menubar">
                        <h1 class="mobile_logo"><_site|name></h1>
                        <_layout|menubar>
                    </div>
                </header>

                <main id="content" class="group" role="main">
                    <div class="mainbody">