<h1><_site|description></h1>

<hr>

<h2>Jack Morgan</h2>

<a href="//laurencemorgan.co.uk/list/4/jack" title="View the latest updates on Jack">View the latest updates on Jack</a>, which includes a gallery of photos taken from <a href="//laurencemorgan.co.uk/article/7/laurences-phone-camera" title="Laurence's Phone Camera">mine</a> and  <a href="//laurencemorgan.co.uk/article/8/alisons-phone-camera" title="Alison's Phone Camera">Alison's</a> camera phone.

<_img|/jack.jpg|Jack Morgan|//laurencemorgan.co.uk/list/4/jack>

<hr/>

<h2>Guestbook</h2>

You can also <a href="//laurencemorgan.co.uk/login" title="Login / Sign Up">login / sign up</a> and leave a message in <a href="//laurencemorgan.co.uk/forum/2/guestbook" title="my guestbook">my guestbook</a>.

<_img|/storytime.jpg|Laurence Morgan|//laurencemorgan.co.uk/forum/2/guestbook>

<hr/>

<h2>Code on Github</h2>

I'm in the process of slowly moving some of my projects (currently saved in private git repos) over to Github: <a href="https://github.com/lmorg" title="Laurence Morgan on Github">https://github.com/lmorg</a>. Feel free to download / change / fork any of the code - hopefully you will find some of these projects as useful as I have.
<_br>
(I'm keeping this CMS closed source for the time being)

<_img|/octocat.png|Github: Octocat|https://github.com/lmorg>