        <h1><_page|title></h1>

        <div>
            <table>
                <tr>
                    <td><img src="<_user|avatar|large>"></td>
                    <td><_user|name|long></td>
                </tr>
                <tr>
                    <td>Karma</td>
                    <td><_user|karma></td>
                </tr>
                <tr>
                    <td>Joined</td>
                    <td><_user|joined></td>
                </tr>
                <tr>
                    <td>Facebook</td>
                    <td><_user|facebook></td>
                </tr>
                <tr>
                    <td>Twitter</td>
                    <td><_user|twitter></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        This page is a work in progress. But eventually you'll be able to change your password, etc here.