        <div style="width: 100%;">
            <div id="article_title"><h1><_page|title></h1></div>
            <_layout|social buttons>
        </div>

        <div class="clear"></div>

        <div>
            <table>
                <tr>
                    <td><img src="<_user|avatar|large>"></td>
                    <td><_user|name|long></td>
                </tr>
                <tr>
                    <td>Karma</td>
                    <td><_user|karma></td>
                </tr>
                <tr>
                    <td>Joined</td>
                    <td><_user|joined></td>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td><_user|email></td>
                </tr>
				<tr>
                    <td>Facebook</td>
                    <td><_user|facebook></td>
                </tr>
                <tr>
                    <td>Twitter</td>
                    <td><_user|twitter></td>
                </tr>
				<tr>
                    <td>Google Plus</td>
                    <td><_user|google plus></td>
                </tr>
            </table>
        </div>
        This page is a work in progress
