@charset "utf-8";

//
// framework
// _framework.scss
// Copyright 2012-2017
// Laurence - Level 10 Fireball
// 

.clear { clear: both; }

.nowrap {
	white-space: nowrap;
	position: relative;
	display: inline-block;
	padding-right: 10px;
}

.right{
	float: right;
	text-align:right;
}

a img {
	border: none;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.w100 {
	width: 100%;
}

.show,
.hide {
	overflow: hidden;
	/* This container should not have padding, borders, etc. */
}
.show {
	visibility: visible;
	opacity: 1;
	transition: opacity 1s linear;
}
.hide {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 1s, opacity 1s linear;
}
.show > div,
.hide > div {
  /* Put any padding, border, min-height, etc. here. */
}
.hide > div {
	margin-top: -10000px;
	transition: margin-top 0s 1s;
}

.fadein {
	opacity: 0; 
}

.fadein:target, .js_fadein {
	-webkit-transition: opacity 1s ease-in;
	-moz-transition: opacity 1s ease-in;
	-ms-transition: opacity 1s ease-in;
	-o-transition: opacity 1s ease-in;
	transition: opacity 1s ease-in;
	opacity: 1;
}

.hidden {
	display: none;
}

